body {
	background: #f0f2f5;
	padding-top: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}



/*响应页面导航栏表单边框*/
.navbar-form{
	border: none;
}
/*处理a button 等点击产生蓝色边框问题*/
a,button,input{ 
	 border:none;
}

/*导航栏form*/
.navbar-form{
	float: left;
	padding-left: 33px;
}

/*导航栏样式*/
.navbar{
	background-color: #FFFFFF;
	margin-top: -6px;
	/*height: 53px;*/
}
.navbar-brand img{
	width:100px;
	margin-top: -17px;
}





