body {
	background: #f0f2f5;
	padding-top: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

/*模态框中登录的图标*/
.form-control-feedback{
	right:15px;
	/*top:15px;*/
}
/*模态框大小*/
.modal-dialog{
	width:450px
}
/*响应页面导航栏表单边框*/
.navbar-form{
	border: none;
}
/*处理a button 等点击产生蓝色边框问题*/
a,button,input{ 
	 border:none;
}
/*处理注册页面边框*/


/*处理logo*/
.container a img{
	width:100px;
	margin-top: -19px;
}
/*导航栏form*/
.navbar-form{
	/*float: left;*/
	padding-left: 33px;
}



.navbar {
	min-width: 100%;
	background: #fff;
	border-bottom: 1px solid #4fc3f7;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
	margin-top: -5px;
}
.container-fluid{
	margin:auto 15%;
}
.main{
	background: #f9f9f9;
	padding: 0 10px 0 10px;
	box-shadow: 2px 2px 5px #d3d6da;
}
.mian-sider{
	background: #f9f9f9;
	
}
.slider-content{
	padding: 0  0 0 10px;
	box-shadow: 2px 2px 5px #d3d6da;
	padding-bottom: 10px;
	margin: 0px;
	margin-bottom: 25px;
}
.title{
	background: #ECECEC;
	padding: 8px;
	margin-bottom: 3px; 
	color: #474846;
}

a{
	color: #474846;
	margin-top:4px;
}
a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color: #5cb85c;
	color: #099
}
a:active{
	text-decoration:none;
}
.logo{
	
}
